/*----------grade-manage-------------*/

/*----------Top:the box of the search-infor and operations------------------*/
.opr{
	border: 1px solid #ADADAD;
	line-height: 50px;
	padding-left: 20px;
	padding-top: 5px;
}

/*----------span--------------*/

.opr  input[type=text]{
	height:40px;
	line-height: 40px;
	border: 1px solid #9D9D9D;
}

.opr input[type=button]{
	height: 40px;
	line-height: 40px;
	border: none;
	border-radius: 5px;
}

.opr .btn-grade{
	background: #9966cc;
}

.grade-table{
	
}
.grade-table th,td{
	height:50px;
	text-align: center;
	width: 20%;
}

#box{
	width:300px;
	height:250px;
	border:1px solid #ccc;
	background: #fff;
	position:fixed;
	z-index: 4;
	top:200px;
	left:500px;
	opacity: 0.9;
	padding:20px;
	display: none;
}
#box span{
	line-height: 40px;
}
#box input{
	margin: 10px;
	height:40px;
	line-height: 40px;
	max-width:60%;
}
#box button{
}
/*閬僵灞�/
#mask{
	width: 100%;
	height: 100%;
	background:#000;
	opacity: 0.4;
	position: fixed;
	z-index: 3;
	top:0;
	left: 0;
	display: none;
}

#examList li{
	float: left;
	width: 50%;
	height: 550px;
	z-index: 3;
}
#exam-search *{
	float: right;
}
#exam-search{
	margin-bottom: 10px;
}
/*fliter box and search box*/
.row{
	margin: 0px;
}
#btn1{
	width: 230px;
	display: inline-block;
	position: relative;
}
#pagination{
	width: 250px;
	margin: 0px 40%;
}
.fliter-box{
	width: 230px;
	position: absolute;
	top: 35px;
	left: 90px;
	z-index: 4;
	display: none;
}
#fliterBox li{
	cursor:pointer;
}
.year{
	height: 100%;
	padding: 0px;
}
.list-item{
	list-style: none;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid rgba(91,192,222,0.7);
}
.nav-actived{
	background-color: rgba(91,192,222,0.5);
}
.subject{
	padding: 0px;
	border-left: 2px solid rgba(91,192,222,0.5);
	height: 100%;
}
.subject ul li:hover,.year ul li:hover{
	font-size:16px;
	background-color: rgba(91,192,222,0.2);
}