<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">


	<context:component-scan base-package="controller"></context:component-scan>


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />

	</bean>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/teacher/**"/>
			<bean class="intercepter.TeacherInter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/student/**"/>
			<bean class="intercepter.StudentInter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/manage/**"/>
			<bean class="intercepter.ManageInter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
<!-- 	<mvc:interceptors> -->
<!-- 		<mvc:interceptor> -->
<!-- 			<mvc:mapping path="/login/**"/> -->
<!-- 			<bean class="intercepter.LoginInter"></bean> -->
<!-- 		</mvc:interceptor> -->
<!-- 	</mvc:interceptors> -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/exam/**"/>
			<bean class="intercepter.examInter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>	